.container{
    height: 550px;
    width: 700px;
    border: 1px solid black;
    display: flex;
    /* flex-direction: row;
    flex-direction: column; */
    flex-direction: row-reverse;
}

#box{
    height: 150px;
    width: 150px;
    margin: 5px 0px 0px 5px;
    color: white;
    font-size: 25px;
}

.first{
    background-color: red;
    /* float: right; */
}

.second{
    background-color: blue;
}

.third{
    background-color: green;
}
