.container{
    height: 550px;
    width: 700px;
    border: 1px solid black;
    display: flex;
     flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */ 
    /* flex-shrink: 4; */
}

#box{
    height: 150px;
    width: 150px;
    margin: 5px 0px 0px 5px;
    color: white;
    font-size: 25px;
    background-color: red;
}

.first{
    background-color: red;
    /* float: right; */
    /* align-self: center; */
    flex-shrink: 4;
}

.second{
    background-color: blue;
    /* align-self: flex-end; */
}

.third{
    background-color: green;
}
